// Mixins Here

.flex(@direction) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: @direction;
}

.button(@width, @background) {
    width: @width;
    color: white;
    background: #22283a;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}